body{
    background-color: rgb(12, 191, 236);
    color: rgb(189, 13, 233);
    margin: 0px;
}

header{
    border-bottom: inset 3px rgb(18, 189, 241);
    padding: 15px;
    font-size: 30px;
    color: rgb(16, 188, 240)
}

h1{
    padding: 10px;
    font-size: 20px;
    color: rgb(0, 255, 179)
}

p{
    padding: 5px;
    font-size: 15px;
    color: rgb(127, 23, 245)
}